classes/__pycache__/item.cpython-311.pyc
classes/__pycache__/order.cpython-311.pyc
classes/__pycache__/table.cpython-311.pyc
__pycache__/database_tools.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/frontend.cpython-311.pyc
.nicegui/storage-user-696732fa-e8e3-4bf8-9771-476a2e9379d9.json
dev_zone.py
__pycache__/dbtools.cpython-311.pyc
classes/__pycache__/dbtools.cpython-311.pyc
__pycache__/fastapi.cpython-311.pyc
