html {
    background-color: gray;
}

body {
    background-color: goldenrod;
}

header {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: brown;
    position: fixed;
    width: 100%;
    top: 50px;
    left: 0;
}

footer {
    background-color: chartreuse;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.home-button {
    height: 50px;
    width: 70px;
}

.tables-button {
    height: 50px;
    width: 70px;
}

.button-footer {
    height: 50px;
    width: fit-content;
}

.table-card {
    min-height: 70px;
    min-width: 50px;
    text-align: center;
}

.tables {
    margin: 10px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px;
}

.selector {
    margin-top: 10px;
    margin-left: 5px;
    display: grid;
    justify-content: center;
}
.order-items-container {
    margin-top: 10px;
    background-color: bisque;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.order-item {
    background-color: blueviolet;
    min-height: 70px;
    min-width: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
}