html {
    background-color: gray;
}

body {
    background-color: goldenrod;
}

header {
    background-color: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: brown;
    position: fixed;
    width: 100%;
    height: max-content;
    top: 50px;
    left: 0;
    overflow: auto;
}

footer {
    background-color: chartreuse;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.home-button {
    height: 50px;
    width: 70px;
}

.tables-button {
    height: 50px;
    width: 70px;
}

.button-footer {
    height: 50px;
    width: fit-content;
}

.table-card {
    min-height: 70px;
    min-width: 50px;
    text-align: center;
}

.tables {
    margin: 10px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 5px;
}

.selector {
    margin-top: 10px;
    margin-left: 5px;
    display: grid;
    justify-content: center;
}
.order-items-container {
    margin-top: 10px;
    background-color: rgb(145, 153, 102);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.order-item {
    background-color: blueviolet;
    min-height: 70px;
    min-width: 70px;
    max-width: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    justify-content: center;
}

.button-item {
    max-height: 60px;
    max-width: 70px;
}

.button-minus {
    margin: 10px 20px 10px 5px;
    border-color: red;
    max-height: 40px;
    max-width: 50px;
}

.create-button, .create-order {
    height: 60px;
    width: 120px;
    margin-bottom: 10px;
}

.comment-btn {
    height: 35px;   
}

.textarea-div {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(1, 1fr); 
    justify-content: center;
    margin-left: 10px;
}

.text-buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    justify-content: right;
    margin-left: 5px;
}

.remove-button {
    height: 30px;
    width: 60px;
}

.next-button {
    height: 40px;
    width: 100px;
}