{% extends "base.html" %}
{% block title %}Items{% endblock %}
{% block header %}
    <label>Items</label>
{% endblock %}
{% block main %}
    <form action="/load-items" method="post">
        <input type="submit" value="Load items">
    </form> 
    <form action="/reset-tables" method="post">
        <input type="submit" value="Reset tables">
    </form> 
    <div class="ajustes-list">
        {% for item in items %}
            <button class="ajustes-button"><a href="/item/{{ item["_id"] }}">{{ item["_id"] }}</a> {{ item["price"] }}$</button>
        {% endfor %}
    </div>
    
{% endblock %}
{% block footer %}
        <form action="/create-item" method="post">
            <input name="code" type="text" placeholder="code">
            <br>
            <input name="name" type="text" placeholder="name">
            <br>
            <input name="price" type="number" step="0.05" placeholder="price">
            <br>
            <input name="show" type="text" placeholder="show (true | false)">
            <br>
            <input type="submit" value="Create item">
        </form>   
{% endblock %}