{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block header %}
    <label>--== Active orders ==--</label>
{% endblock %}
{% block main %}
    {% for order in orders %}
        <div>
            <a class="order" href="/order-info/{{ order._id }}">{{ order._id }}<a>
            {% for item in items[order._id] %}
                <span class="order"> | {{ item }}: {{ items[order._id][item]}}<span>
            {% endfor %}
            <form action="complete-order" method="post">
                <input name="order" type="text" value="{{ order._id }}" hidden="hidden">
                <input type="submit" value="Complete">
            </form>

            <p></p>

        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
        <a href="/order"><input class="button-footer" type="button" value="Create order"></a>
{% endblock %}