{% extends "base.html" %}
{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}
{% block title %}Pedidos{% endblock %}
{% block header %}
    <label>--== Pedidos activos ==--</label>
{% endblock %}
{% block main %}
    {% for order in orders %}
        <div>
            <button><a class="order" href="/order-info/{{ order._id }}">Mesa {{ order.table }}<a></button>
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <a href="/tables"><input class="tables-button" type="button" value="Mesas"></a>        
{% endblock %}