{% extends "base.html" %}
{% block title %}Order{% endblock %}
{% block header %}
    <select id="tables" onchange="onSelectChange(event)">
        <option value="">Choose a table</option>
        <option value="new">--- new ---</option>
        {% for table in tables %}
            <option value="{{ table._id }}">{{ table._id }} | {{table.bill}}$</option>
        {% endfor %}
    </select>
{% endblock %}

{% block main %}
    {% for item in items %}
        <div>
            <button type="button" onclick="countClick('{{ item._id }}')">{{ item._id }}<br><span id="{{ item._id }}-count">0</span></button>
            <button type="button" onclick="countDown('{{ item._id }}')">-</button>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <a href="/tables">Tables</a>
    <!-- <button id="check" onclick="check()">ADD</button> -->
    <form id="foodForm" action="/create-order" method="post" onsubmit="check(event)">
        <input type="submit" value="create">
    </form>
    
    <script>
        let tableName = 'null';
        function onSelectChange(event) {
            console.log(event.target.value);
            tableName = event.target.value;
        }

        const foodCount = {};
        function countClick(food) {
            if (foodCount[food]) {
                foodCount[food] += 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
            } else {
                foodCount[food] = 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
                }
            }
        function countDown(food) {
            if (foodCount[food]) {
                foodCount[food] -= 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
                }
            }
        
        function check(event) {
            if (tableName == 'new') {
                let name=prompt("Label:");
                tableName = name
                if (name=null){
                    alert("Writedown a name");
                }else{
                
                    if (confirm(`to ${tableName} you add ${JSON.stringify(foodCount)}`)) {
                        console.log("You pressed GOOD!");
                        let data = {
                            "table": tableName,
                            "order": foodCount
                        };
                        event.preventDefault();
                        fetch('/create-order', {
                            method: 'POST',
                            headers: {
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json());
                        } else {
                        console.log("You pressed Cancel!");
                    }
                }
            }else{
                if (confirm(`to ${tableName} you add ${JSON.stringify(foodCount)}`)) {
                    console.log("You pressed GOOD!");
                    let data = {
                        "table": tableName,
                        "order": foodCount
                    };
                    event.preventDefault();
                    fetch('/create-order', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(response => response.json());
                    } else {
                    console.log("You pressed Cancel!");
                }
            }
        }        
    </script>
{% endblock %}