{% extends "base.html" %}
{% block title %}{{ order._id }}{% endblock %}
{% block header %}
    <label>Pedido {{ order._id }}
    <form action="complete-order" method="post">
        <input name="order" type="text" value="{{ order._id }}" hidden="hidden">
        <input type="submit" value="Completar">
    </form></label>
{% endblock %}
{% block main %}
    <button><a href="/table/{{ order.table }}">Abrir mesa {{ order.table }}<a></button>
    <button onclick="cancelOrder()">Cancelar pedido</button>
    <form id='cancelOrder' action="cancel-order" method="post">
        <input name="order" type="text" value="{{ order._id }}" hidden="hidden">
        <script>
            function cancelOrder(){
                if (confirm("Cancelar pedido?")) {
                    document.getElementById("cancelOrder").submit();
                } else {
                    return;
                }
            }
        </script>
    </form>
    {% if 'porras' in items %}
        {% set porras = items['porras'] %}
    {% endif %}
    {% if 'churros' in items %}
        {% set churros = items['churros'] %}
    {% endif %}
    <h2 style="margin-left: 40%">{{ porras }} / {{ churros }}</h2>
    <h3>Comida:</h3>
    {% for item in items %}
        <button>{{ items[item]}} {{ item }}</button>
    {% endfor %}
    <h3>Tostadas:</h3>
    {% for tostada in tostadas %}
        <button>{{ tostada }}</button>
    {% endfor %}
    <h3>Cafes:</h3>
    {% for cafe in cafes %}
        <button>{{ cafe }}</button>
    {% endfor %}
{% endblock %}
{% block footer %}
{% endblock %}