{% extends "base.html" %}
{% block title %}{{ table._id }}{% endblock %}
{% block header %}
    <label>Table: {{ table._id }}</label>
{% endblock %}
{% block main %}
    <p>Status: {{ table.status }}<p>
    <p>-------------------</p>
    {% for item in items %}
        <p>{{ names[item] }}: {{ items[item] }}<p>
    {% endfor %}
    <p>==============<p>
    <p>Bill: {{ table.bill }}<p>
    <form action="delete-table" method="post">
        <input name="table" type="text" value="{{ table._id }}" hidden="hidden">
        <input type="submit" value="X">
    </form>
    <form action="pay-table" method="post">
        <input name="table" type="text" value="{{ table._id }}" hidden="hidden">
        <input type="submit" value="Pay">
    </form>
{% endblock %}
{% block footer %}
        <form action="/order" method="get">
            <input type="text" value="{{ table._id }}" name="table" hidden="True"/>
            <input class="button-footer" type="submit" value="Create order"/>
        </form>
{% endblock %}