{% extends "base.html" %}
{% block title %}Mesa {{ table._id }}{% endblock %}
{% block header %}
    <label>Mesa: {{ table._id }}</label>
    <button onclick="payTable()">{{ table.bill }}$</button>
{% endblock %}
{% block main %}
    {% for item in items %}
        <button>{{ items[item] }}x {{ names[item] }}</button>
    {% endfor %}
    <form id='payTable' action="pay-table" method="post">
        <input name="table" type="text" value="{{ table._id }}" hidden="hidden">
        <script>
            function payTable(){
                if (confirm("Pagar {{ table.bill }}$ de mesa?")) {
                    document.getElementById("payTable").submit();
                } else {
                    return;
                }
            }
        </script>
    </form>
{% endblock %}
{% block footer %}
        <form action="/order" method="get">
            <input type="text" value="{{ table._id }}" name="table" hidden="True"/>
            <input class="create-order" type="submit" value="Crear pedido"/>
        </form>
{% endblock %}