{% extends "base.html" %}
{% block title %}Tables{% endblock %}
{% block header %}
    <label>Tables</label>
{% endblock %}
{% block main %}
    <div class="tables">
        {% for table in tables %}
        <div class="table-card">
            <button class="table-card" onclick="document.location='table/{{ table._id }}'">{{ table._id }}<br>{{ table.bill }}$</button>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block footer %}
        <a href="/order"><input class="create-order" type="button" value="Create order"></a>
{% endblock %}